.mainContainer {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 30%;
    position: relative;
    top: 11%;
    left: 40%;
  }
  
  .companyLogo img {
    width: 100px;
    height: 100px;
  }
  
  .formInput {
    margin-top: 20px;
  }
  
  .formInput h1 {
    font-size: 24px;
  }
  
  .formInput input[type="Name"],
  .formInput input[type="email"],
  .formInput input[type="password"],
  .formInput input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  #addemp button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #addemp button:hover {
    background-color: #45a049;
  }
  